<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cskaoyan.mapper.WxMyGrouponMapper">
    <select id="selectMsg" resultType="com.cskaoyan.bean.GrouponWx">
    select  id,user_id as userId , id as orderId,groupon_id as grouponId,rules_id as rulesId,creator_user_id as creatorUserId,
add_time as addTime,update_time as update_time,share_url as shareUrl,payed,deleted
from cskaoyan_mall_groupon
    </select>
    <select id="selectByOrderId" resultType="com.cskaoyan.bean.Order">
        select order_status as orderStatus,order_sn as orderSn,id,actual_price as actualPrice from cskaoyan_mall_order where id = #{orderId}
    </select>
    <select id="countGrouponId" resultType="int">
        select count(*) from cskaoyan_mall_groupon where groupon_id = #{grouponId}
    </select>
    <select id="selectGoodList" resultType="com.cskaoyan.bean.MyGrouponGoodList">
        select goods_id as goodId from cskaoyan_mall_order_goods where order_id = #{orderId}
    </select>
    <select id="selectRulrsByRuleId" resultType="com.cskaoyan.bean.GrouponRulsWX">
    select id,goods_id as goodId,goods_name as goodsName,pic_url as picUrl,discount,discount_member as discountMember,
    add_time as addTime,update_time as updateTime,expire_time as expireTime,deleted
    from cskaoyan_mall_groupon_rules where id = #{rulesId}

    </select>
</mapper>
